<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test_Board</title>
</head>
<body>
  <header>
    Board
  </header>
  <main>
    <div class="button">
      <a href="/ariticle/lists" class="btn">Back</a>
    </div>

    <form action="/alticles" method="post">
      <div class="contentBox">
        <h3>새로운 글 등록</h3>
        <fieldset>
          <div class="<%= (errors.title)?'has-error':'' %>">
            <label for="title">Title</label>
            <div>
              <input class="form-control" type="text" id="title" name="title" value="<%= alticle.title =%>">
              <% if(errors.title){ %>
                <span class="help-block">
                  <%= errors.title.message %>
                </span>
              <% } %>
            </div>
          </div>
          <div>
            <label for="body">Description</label>
            <div>
              <textarea class="form-control" id="Description" name="Description" rows="5"><%= alticle.description %></textarea>
              <% if(errors.body){ %>
                <span class="help-block">
                  <%= errors.body.message %>
                </span>
              <% } %>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="button">
        <button type="submit" class="btn">Submit</button>
      </div>
      <% if(errors.unhandled){ %>
        <div class="alert alert-danger">
          <%= errors.unhandled %>
        </div>
      <% } %>
    </form>
  </main>
</body>
</html>